@charset "utf-8";
/* CSS Document */

@font-face {
font-family: "Roboto Bold";
src: 
url("css/fonts/roboto-bold-webfont.woff") format("woff");
}

body{
	font-family: roboto !important;
    font-style: normal !important;
}


h1{
    font-family: roboto !important;
    font-size: 40px !important;
    font-style: normal !important;
    font-weight: 700 !important;
}

h2{
    font-family: roboto !important;
    font-size: 25px !important;
    font-style: normal !important;
    font-weight: 700 !important;
	color: #1B8CCA !important;
}

h3{
    font-family: roboto !important;
    font-size: 20px !important;
    font-style: normal !important;
    font-weight: 700 !important;
}

h4{
    font-family: roboto !important;
    font-size: 17px !important;
    font-style: normal !important;
    font-weight: 700 !important;
}

h5{
    font-family: roboto !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: 600 !important;
}

p{
    font-family: roboto !important;
    font-size: 15px !important;
    font-stye: normal !important;
    font-weight: 600 !important;
	text-decoration-color: #3D3D3D !important;
}

hr{
	margin-top: 10px !important;
	margin-bottom: 25px !important;
}

img{
	border-radius:10px !important;
	margin-left: auto !important;
	margin-right: auto !important;
	margin-top: 30px;
}
iframe{
    margin: 0 auto !important;
    display: block !important;
}

iframe.large{
    height: 450px !important;
    width: 800px !important;
}

iframe.medium{
    height: 300px !important;
    width: 534px !important;
}

iframe.small{
    width: 267px;
    height: 150px;
}

button.boss-fight{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    margin-bottom: 20px;
    border-radius: 15px;
    background: #E91D48;
    text-align: center;
    color: white;
}

.navbar{
    -webkit-box-shadow: 0 2px 10px 0 #7E7E7E !important;
    -moz-box-shadow: 20px 20px 20px #FC0 !important;
    box-shadow: 0 2px 10px 0 #7E7E7E !important;
	margin-bottom: 25px !important;
    margin-top: -25px !important;
}



.modal{
    margin-top: 100px;
}

.container-fluid {
    margin: auto;
}

.dropdown-menu {
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
}

.well {
    margin: 15px;
}
div.well{
    margin: auto;
}

.carousel-text {
    text-shadow: 3px 3px 5px black, -3px -3px 5px black, -3px 3px 5px black, 3px -3px 5px black;
}

img.img-gif {
    margin: auto;

}

img.clickable:hover{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
 -webkit-box-shadow: 0px 0px 30px 0px #14A3AC;
-moz-box-shadow:    0px 0px 30px 0px #14A3AC;
box-shadow:         0px 0px 30px 0px #14A3AC;
}

